.presidents-container {
  background: blue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}